EXPO_PUBLIC_ESP32_URL=digite_seu_ipv4_aqui
admUser=digite_o_usuario_do_adm_aqui
admPassword=digite_a_senha_do_adm_aqui
GOOGLE_MAPS_API_KEY=digite_sua_chave_de_mapa_aqui
EXPO_PUBLIC_GOOGLE_ROUTES_API_KEY=digite_sua_chave_de_rotas_aqui
funcionarioUser=digite_o_usuario_do_funcionario_aqui
funcionarioPassword=digite_a_senha_do_funcionario_aqui
